@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* 全体のフォントとか */
body {
    font-family:  'Noto Sans CJK JP';
	color    :#FFFFFF;
	letter-spacing : -4px;
	font-weight:800;
}

/* 親 */
.main {
	position: relative;
	width:1400px;
	height:auto;
}

/* 文字（pタグ）は子関係に */
.main p {
	position : absolute;
}

/* ランクマークの設定 */
#rankimg {
	position: absolute;
	left: 8px;
	top: 90px;
	width:200px;

	/* 前面に表示する */
	z-index: 2;
}

/* 線みたいなのの設定 */
#underline {
	position: absolute;
	/* 後ろに表示する */
	z-index: -1;
}

/* メーターの設定 */
#meter1 {
	position: absolute;
	left:243px;
	top:189px;
	/* 後ろに表示する */
	z-index: -2;
}

/* 背景の設定 */
#background {
	position: absolute;
	/* 後ろに表示する */
	z-index: -5;
}

/* 上部分の文字の設定 */
.text1 {
	font-size:  70px;
	top:10px;
	-webkit-text-stroke: 4px #000;
}

/* 上部分の左の文字の設定 */
#text1_rank {
	left:250px;
}

/* 上部分の右の文字の設定 */
#text1_pt {
	left:680px;
}

/* 下部分の文字の設定 */
#text2_total {
	font-size:  55px;
	left:250px;
	top:190px;
	-webkit-text-stroke: 3px #000;
}
