@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 全体のフォントとか */
body {
    font-family:  'Noto Sans';
	color    :#FFFFFF;
	letter-spacing : -3px;
	font-weight:700;
}

/* 親 */
.main {
	position: relative;
	width:1400px;
	height:auto;
}

/* 文字（pタグ）は子関係に */
.main p {
	position : absolute;
}

/* ランクマークの設定 */
#rankimg {
	position: absolute;
	left: 40px;
	top: 87px;
	width:200px;
	height:auto;

	/* 前面に表示する */
	z-index: 2;
}

/* 線みたいなのの設定 */
#underline {
	position: absolute;
	/* 後ろに表示する */
	z-index: -1;
}

/* メーターの設定 */
#meter1 {
	position: absolute;
	left:243px;
	top:191px;
	height:20px;

	/* 後ろに表示する */
	z-index: -2;
}

/* 背景の設定 */
#background {
	position: absolute;
	/* 後ろに表示する */
	z-index: -5;
}

/* 上部分の文字の設定 */
.text1 {
	font-size:  70px;
	top:18px;
/*	-webkit-text-stroke: 4px #000;*/
}

/* 上部分の左の文字の設定 */
#text1_rank {
	left:260px;
}

/* 上部分の右の文字の設定 */
#text1_pt {
	left:670px;
	letter-spacing : -3px;
}

/* 下部分の文字の設定 */
#text2_total {
	font-size:  58px;
	color    :#000000;
	left:250px;
	top:175px;
	font-weight:800;
/*	-webkit-text-stroke: 3px #000;*/
}
